.mainWindow{
    -fx-background-color: white;
}

.hederwindow{
    -fx-background-color: aquamarine;
}
.button{
    -fx-background-color: #e74c3c;
}
.buttonText{
    -fx-text-fill: white;
    -fx-font-size: 15px;
}
.footer{
    -fx-background-color: #FFFFFF;
}

.heder{
    -fx-background-color: #2ecc71;
}

.rightPane{
    -fx-background-color: chartreuse;
}
.ancherPane{
    -fx-background-color: blanchedalmond;
}

.clearButton{
    -fx-background-color: #f1c40f;
}

.markForReviewButton{
    -fx-background-color: #9b59b6;
}

.saveButton{
    -fx-background-color: #2ecc71;
}